section {
	position: relative;
}

section.bg-grey {
	background-color: #f9f9f9;
}

section.bg-reverse {
	background-color: #000;
}

section.bg-overlay {
	background-color: rgba(0,0,0,0.85);
}

section.padding {
	padding: 100px 0;
}

section#blog {
	padding-bottom: 70px;
}

section .section-title {
	font-size: 34px;
}

section .section-lead {
	font-size: 18px;
	font-weight: 200;
	margin-top: 15px;
}

section .section-body {
	margin-top: 60px;
}

section.callout {
	padding: 50px 0;
}

section.callout .cta {
	text-align: right;
}

section.callout .cta .btn {
	padding: 15px 35px;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 2px;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-width: 2px;
	border-color: #000;
	color: #000;
}

section.callout .cta .btn:hover {
	background-color: #000;
	color: #fff;
}

section.callout h3 {
	margin: 0;
}